h1 {
    text-align: center;
    padding-top: 1%;
}

.error {
    color: red;
    font-size: 16px;
}


form {
    max-width: 400px;
    margin: 0 auto;
}

form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border: 1px solid #ccc;
}

#output {
    margin-top: 10px;
    text-align: left;
    padding-left: 40%;
}

.bold-label {
    font-weight: bold;
}
